body {
  font-size: 16px;
  line-height: 1.15;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1;
  letter-spacing: -0.05em;
}
.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6,
.blob-card-content .content {
  line-height: 1.3;
}
.news-card-content h4 {
  line-height: 1.15;
}
#header .module-logo svg {
  height: 24px;
}
@media (min-width: 600px) {
  #header .module-logo svg {
    height: 30px;
  }
}
#footer .footer-main .logo svg {
  max-height: 2.5rem;
}
.menu-overlay .menu > li a {
  letter-spacing: -0.05em;
}
.menu-overlay .menu .sub-menu > li:not(:last-child) {
  margin-bottom: 0.4em;
}
.menu-overlay .menu,
.menu-overlay .menu .sub-menu > li a {
  position: relative;
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
}
@media (min-width: 768px) and (min-width: 1200px) {
  .menu-overlay .box {
    max-width: clamp(58rem, 32rem + 23vw, 95%);
  }
}
h1,
.h1,
.display-1 {
  font-size: max(28px, 3.13vw);
  font-weight: 300;
}
h2,
.h2 {
  font-size: max(26px, 2.21vw);
}
h3,
.h3 {
  font-size: max(24px, 1.88vw);
}
h4,
.h4 {
  font-size: max(20px, 1.4vw);
}
h5,
.h5 {
  font-size: max(18px, 1.35vw);
}
h6,
.h6 {
  text-transform: capitalize;
}
h1 strong,
.h1 strong,
h2 strong,
.h2 strong,
h3 strong,
.h3 strong,
h4 strong,
.h4 strong,
h5 strong,
.h5 strong,
h6 strong,
.h6 strong {
  font-weight: 500;
}
.text-sm {
  font-size: 1em;
}
.gravity-button-label {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.05;
}
.work-card-content h3 {
  margin-bottom: 1rem;
}
.btn {
  font-weight: 400;
  font-size: 105%;
  text-transform: capitalize;
  letter-spacing: normal;
  height: 2.45rem;
  padding: 0 1.75rem 0.1rem 1.75rem;
}
.subtitle,
.process-scroller h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: -0.05em;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.inverted .subtitle {
  color: rgba(255, 255, 255, 0.5);
}
.content p > a {
  font-weight: 500;
}
.hero h1,
.section.portfolio-page h1,
.title-bar h1,
.contact-multi-step-section h1,
.title-bar-animation-form h1,
.sustainability-section h1 {
  font-size: max(40px, 3.13vw);
  text-transform: lowercase;
  font-weight: 500;
}
h5.font-primary,
.h5.font-primary {
  font-weight: 500;
}
.hero .scroll {
  opacity: 0.7;
}
#footer .footer-main .content p > a {
  font-weight: 500;
}
.menu-overlay .right .item p a {
  font-weight: 400;
}
.tags li {
  letter-spacing: normal;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}
.menu-overlay .menu > li:not(:last-child) {
  margin-bottom: 0.4em;
}
.services-scroller .header h2 {
  color: #000;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1;
}
.tags li:not(:has(a)) {
  padding: 0.4rem 1rem 0.5rem 1rem;
}
.features-carousel .subtitle + h3 {
  font-size: max(26px, 2.21vw);
}
.member-card h6 {
  font-size: 16px;
}
.wysiwyg ul:not(.tags):not(.ticks):not(.extras) li:not(:last-child),
.content ul:not(.tags):not(.ticks):not(.extras) li:not(:last-child) {
  margin-bottom: 0.6em;
}
.wysiwyg ul:not(.tags):not(.ticks):not(.extras) li,
.content ul:not(.tags):not(.ticks):not(.extras) li {
  line-height: 1.4;
}
.hero .bg {
  padding: 0 5%;
}
.hero .bg svg {
  width: 100%;
}
.process-scroller .item-inner .icon {
  width: 16px;
  height: 16px;
}
.award-badge-content,
.work-card-awards span {
  text-transform: none;
  font-size: 0.6rem;
  font-weight: 400;
}
.content-body p,
.content p {
  margin-bottom: 1rem;
}
